@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800;900&family=Roboto:ital,wght@0,100;0,400;0,700;1,500&display=swap");

body{
   font-family: 'Montserrat', sans-serif;
}
:root{
  --color-main: #241400;
  --color-footer: #391F00;
  --color-body: #fffaf5;
  --color-red: #720418;

}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2);
  cursor: pointer; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#categoriesList::-webkit-scrollbar{
  width: 5px;
  height: 10px;
  /* background-color: #9d1414;  */
  color: var(--color-main); 
}

#categoriesList::-webkit-scrollbar-button{
  display: none; 
}

#categoriesList::-webkit-scrollbar-thumb {
  background: var(--color-red);
  border-radius: 10px;
}

#categoriesList::-webkit-scrollbar-thumb:hover {
  background: var(--color-main);
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  padding: 16px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}